mixin checkbox(data)
	-
		data = init(data, {
			'block': 'checkbox',
			'type': 'checkbox',
			'label': 'Название поля',
			'value': '0',
			'checked': false,
			'disabled': false,
			'error': false,
			required: true,
		})

		var id = Math.random().toString(36).substring(2);

		if (data['error']) {
			data['class'] += ' error';
		}

	+b&attributes(data.attributes(attributes))
		+e.INPUT.__input(type=data['type'], id=id, name=data['name'], checked=data['checked'], disabled=data['disabled'] value=data['value'] required=data['required'])
		+e.LABEL.__label(for=id) !{data.label}