include mixin

mixin form-field(data)
	-
		data = Object.assign({}, common, {
			'block': 'form-field',
			'title': 'Название поля',
			'field': {
				'mixin': 'input',
			},
			'error-text': 'Ошибка: поле не заполнено',
			'state': '', // disabled, error
		}, data)
		data['field']['state'] = data['state']
		if (data['state'] == 'disabled') {
			data['class'] += ' ' + 'disabled'
		} else if (data['state'] == 'error'){
			data['class'] += ' ' + 'error'
		}

	+b.DIV&attributes(data.attr())&attributes(attributes)
		+e.__title !{data['title']}
		+mixin(data['field'])(class=data['block']+'__field')
		+e.__error-text !{data['error-text']}