include ../components/callback-form.pug

div(style='display: none;')
	+b.modal-demo#callback-modal
		+e.title Записаться на участие в своем городе
		+e.body
			+callback-form()._white-bg

	+b.modal-demo_min#callback-success
		+e.title_center Спасибо, ваша заявка на участие отправлена
		+e.body
			+e.content Куратор демонстрации свяжется с вами в рабочее время
		+e.footer
			+b.BUTTON.button(data-fancybox-close) Хорошо

	+b.modal-demo_min#callback-fail
		+e.title_center Произошла ошибка отправки
		+e.footer
			+b.BUTTON.button(data-fancybox-close) Хорошо

