mixin advantages(data)
	-
		data = init(data, {
			'list': [
				{
					'img': 'advantage-1.svg',
					'text': 'Антарес КМП-14 работает в различных агроклиматических условиях, может использоваться как в основной, так и в минимальной системе обработки почвы.'
				},
				{
					'img': 'advantage-2.svg',
					'text': 'Наш культиватор за один проход выполняет сразу несколько операций: удаление сорняков, рыхление, выравнивание, мульчирование, прикатывание и поверхностное уплотнение почвы.'
				},
				{
					'img': 'advantage-3.svg',
					'text': 'Отличительная особенность конструкции культиватора Антарес КМП-14 — это способность складываться в транспортное положение шириной 2,5 метра. Это позволяет перевозить культиватор по дорогам общего пользования без специальных разрешений от ГИБДД.'
				},
			]
		})
	+b.advantages&attributes(attributes)
		.global-wrapper
			+e.list
				each val in data.list
					+e.item
						+e.icon
							+e.IMG.img(src='img/components/advantages/' + val.img)
						+e.text !{val.text}
