include ../base-components/checkbox
mixin callback-form(data)
    +b.callback-form&attributes(attributes)
        +e.FORM.mobile
            +e.section
                +b.INPUT.promo-input(type='text' placeholder='ФИО*' name='name' required)
                +b.INPUT.promo-input(type='text' placeholder='Компания*' name='company' required)
                +b.SELECT.promo-input(placeholder='Край' name='region')
                    option(value="Не выбрано" disabled selected) Край
                    option(value="Краснодарский край") Краснодарский край
                    option(value="Ставропольский край") Ставропольский край
                    option(value="Ростовская область") Ростовская область
                +b.SELECT.promo-input(placeholder='Район' name='district')
                    option(value="Не выбрано" disabled selected) Район
                    option(value="Динской район") Динской район
                    option(value="Приморско-Ахтарский район") Приморско-Ахтарский район
                    option(value="Ленинградский район") Ленинградский район
                    option(value="Белоглинский район") Белоглинский район
                    option(value="Труновский район") Труновский район
                    option(value="Таганрогский район")
                +b.INPUT.promo-input(type='text' placeholder='Телефон*' name='phone' required)
                +b.INPUT.promo-input(type='text' placeholder='E-mail*' name='email' required)
            +b.TEXTAREA.promo-input_textarea(type='text' placeholder='Комментарий' name='comment')
            +e.footer
                +checkbox({
                    'block': 'promo-checkbox',
                    'type': 'checkbox',
                    'name': 'agree',
                    'label': 'Я согласен на обработку персональных данных. Политика конфиденциальности',
                })
                +b.BUTTON.button Отправить заявку

        +e.FORM.desktop
            +e.column
                +e.section
                    +b.INPUT.promo-input(type='text' placeholder='ФИО*' name='name' required)
                    +b.INPUT.promo-input(type='text' placeholder='Компания*' name='company' required)
                +b.TEXTAREA.promo-input_textarea(type='text' placeholder='Комментарий' name='comment')
                +e.footer
                    +checkbox({
                        'block': 'promo-checkbox',
                        'type': 'checkbox',
                        'name': 'agree',
                        'label': 'Я согласен на обработку персональных данных. Политика конфиденциальности',
                    })
                    +b.BUTTON.button Отправить заявку
            +e.column
                +e.section_vert
                    +b.SELECT.promo-input(placeholder='Край' name='region')
                        option(value="Не выбрано" disabled selected) Край
                        option(value="Краснодарский край") Краснодарский край
                        option(value="Ставропольский край") Ставропольский край
                        option(value="Ростовская область") Ростовская область
                    +b.SELECT.promo-input(placeholder='Район' name='district')
                        option(value="Не выбрано" disabled selected) Район
                        option(value="Динской район") Динской район
                        option(value="Приморско-Ахтарский район") Приморско-Ахтарский район
                        option(value="Ленинградский район") Ленинградский район
                        option(value="Белоглинский район") Белоглинский район
                        option(value="Труновский район") Труновский район
                        option(value="Таганрогский район")
                    +b.INPUT.promo-input(type='text' placeholder='Телефон*' name='phone' required)
                    +b.INPUT.promo-input(type='text' placeholder='E-mail*' name='email' required)