mixin contacts(data)
	+b.contacts&attributes(attributes)
		+e.body
			+e.call
			+e.section
				+e.title Пронин Владимир
				+e.subtitle Куратор демонстраций
				+e.A.item(href='tel:+7 927 730 50 02') +7 927 730 50 02
				+e.A.item(href='mailto: pronin@volgaagromash.ru') pronin@volgaagromash.ru
			+e.section
				+e.title Тюфяков Никита
				+e.A.item(href='tel:+7 929 710 12 40') +7 929 710 12 40
		+e.img-container
			+e.IMG.img(src='img/components/contacts/img.jpg')
