mixin demo-program(data)
	-
		data = init(data, {
			'list': [
				{
					'text': 'Начало мероприятия. Приветствие',
					'time': '10:00',
					'period': '10 минут'
				},
				{
					'text': 'Демонстрация работы культиватора',
					'time': '10:10',
					'period': '20 минут'
				},
				{
					'text': 'Проведение измерений',
					'time': '10:30',
					'period': '50 минут'
				},
				{
					'text': 'Ответы на вопросы участников',
					'time': '11:20',
					'period': '10 минут'
				},
			]
		})
	+b.demo-program&attributes(attributes)
		.global-wrapper
			+e.title Программа демопоказа
			+e.list
				each val in data.list
					+e.item
						+e.text !{val.text}
						+e.time
							+e.time-item !{val.time}
							+e.time-item !{val.period}
		+e.img(src='img/components/demo-program/bg.jpg')

