mixin demo-slider(data)
    - data = init(data, {'list': ['demo-slider-1.jpg', 'demo-slider-2.jpg', 'demo-slider-3.jpg']})
    +b.demo-slider&attributes(attributes)(demo-slide)
        +e.list
            each val in data.list
                +e.IMG.img(src='img/components/demo-slider/' + val)
        +e.control.slider-control
            +b.slider-arrow_prev
            +b.slider-dots
            +b.slider-arrow_next
