mixin img-info(data)
	+b.img-info&attributes(attributes)
		+e.img-container
			+e.IMG.img(src='img/components/img-info/img-info.jpg')
		+e.body
			+e.title Особенно важно присутствовать на демопоказе, если вы:
			+e.content
				+e.list
					+e.item Интересуетесь новейшими разработками почвообрабатывающей техники.
					+e.item Внедряете в своём хозяйстве ресурсосберегающие технологии обработки почвы.
					+e.item Выбираете качественную технику для почвообработки по доступной цене.