mixin main-banner(data)
  +b.main-banner&attributes(attributes)
    .global-wrapper
      +e.body
        +e.title Демопоказ культиватора Антарес КМП-14 в Вашем районе
        +e.content
          p Выравниватель — это новое слово в конструкции культиватора. Он представляет собой дополнительный ряд рабочих органов, установленный после прикатывающих катков. В качестве рабочих органов на выравнивателе используются звездчатые валки. Они позволяют провести процедуру крошения почвы настолько тщательно, что после него остается идеально ровная поверхность мелкокомковатой структуры. Конструкция выравнивателя запатентована компанией Волгаагромаш.
          p К показу представлена предпосевная модификация <br>с рыхлительной лапкой <b>215 мм</b>, ширина захвата — <b>14 метров</b>.
        +e.footer
          +b.BUTTON.button(href='#callback-modal' data-fancybox='') Записаться на участие