mixin map-demo(data)
	-
		data = init(data, {
			'list': [
				{
					'title': 'Краснодарский край',
					'list': [
						{
							'location': 'Село Первореченское, Динской р&#8209;н',
							'date': '26.03 — 28.03'
						},
						{
							'location': 'Станица Ольгинская, Приморско&#8209;Ахтарский р&#8209;н',
							'date': '28.03 — 30.03'
						},
						{
							'location': 'Станица Ленинградская, Ленинградский р&#8209;н',
							'date': '30.03 — 01.04'
						},
						{
							'location': 'Хутор Меклета, Белоглинский р&#8209;н',
							'date': '01.04 — 03.04'
						},
					]
				},
				{
					'title': 'Ставропольский край',
					'list': [
						{
							'location': 'Труновский район',
							'date': '03.04 — 05.04'
						},
					]
				},
				{
					'title': 'Ростовская область',
					'list': [
						{
							'location': 'Таганрогский район',
							'date': 'после 06.04'
						},
					]
				},
			]
		})

	+b.map-demo&attributes(attributes)
		+e.img-container
			+e.img(src='img/components/map-demo/map-demo.jpg')
		+e.body
			each val in data.list
				+e.section
					+e.title !{val.title}
					+e.list
						each val2 in val.list
							+e.item
								+e.info
									+e.location !{val2.location}
									+e.date !{val2.date}
								+e.BUTTON.button(href='#callback-modal' data-fancybox='') Записаться на участие
