mixin photo-list(data)
	- data = init(data, {'list': ['img-1.jpg', 'img-2.jpg']})
	+b.photo-list&attributes(attributes)
		+e.list
			each val in data.list
				+e.IMG.img(src='img/components/photo-list/' + val)
		+e.description Мы покажем вам работу культиватора Антарес КМП-14 с выравнивателем в поле, и вы сможете лично оценить высокое качество почвообработки.