*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1 {
  margin: 0;
}


html, body {
  @include body-2-complex();
  min-height: 100%;
  min-width: $media-xs;
  margin: 0;
  color: $color-gray-1;
  background-color: #fff;
}


.awPageWrapper {

}

a {
  // line-height: 1;

  &:hover {
    text-decoration: none;
  }
}

.global-wrapper {
  width: calc(100% - 36px);
  max-width: 1687px;
  margin: 0 auto;

  @include media-min($media-sm) {
    width: calc(100% - 90px);
  }
  
  @include media-min($media-lg) {
    width: calc(100% - 160px);
  }
 
  @include media-min($media-xxl) {
    width: calc(100% - 230px);
  }
}


