 @font-face {
   font-family: "Days";
   font-style: normal;
   font-weight: normal;
   src: local("Days"),
   url("../fonts/Days.ttf") format("truetype"),
 }

 @font-face {
   font-family: "GothamPro";
   font-style: normal;
   font-weight: normal;
   src: local("GothamPro"),
   url("../fonts/GothamPro.ttf") format("truetype"),
 }