@mixin head-1-complex() {
  @include head-1-mobile();

  @include media-min($media-lg) {
    @include head-1-tablet();
  }

  @include media-min($media-xxl) {
    @include head-1();
  }
}

@mixin head-2-complex() {
  @include head-2-mobile();

  @include media-min($media-lg) {
    @include head-2-tablet();
  }

  @include media-min($media-xxl) {
    @include head-2();
  }
}

@mixin head-3-complex() {
  @include head-2-mobile();

  @include media-min($media-lg) {
    @include head-3-tablet();
  }

  @include media-min($media-xxl) {
    @include head-3();
  }
}

@mixin head-4-complex() {
  @include head-2-mobile();

  @include media-min($media-lg) {
    @include head-4-tablet();
  }

  @include media-min($media-xxl) {
    @include head-4();
  }
}

@mixin body-1-complex() {
  @include body-1-mobile();

  @include media-min($media-sm) {
    @include body-1-tablet();
  }

  @include media-min($media-lg) {
    @include body-1();
  }
}

@mixin body-2-complex() {
  @include body-2-mobile();

  @include media-min($media-sm) {
    @include body-2-tablet();
  }

  @include media-min($media-lg) {
    @include body-2();
  }
}

@mixin body-3-complex() {
  @include body-3-mobile();

  @include media-min($media-sm) {
    @include body-3();
  }
}

@mixin head-1() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 77px;
}

@mixin head-1-tablet() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 52px;
}

@mixin head-1-mobile() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

@mixin head-2() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

@mixin head-2-tablet() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

@mixin head-2-mobile() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

@mixin head-3() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

@mixin head-3-tablet() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

@mixin head-3-mobile() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@mixin head-4() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@mixin head-4-tablet() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

@mixin head-4-mobile() {
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@mixin body-1() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

@mixin body-1-tablet() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

@mixin body-1-mobile() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

@mixin body-2() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

@mixin body-2-tablet() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@mixin body-2-mobile() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

@mixin body-3() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@mixin body-3-mobile() {
  font-family: $font-GothamPro;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}