// color variables

$color-brand-1: #BBC406;
$color-gray-1: #1D1D1B;
$color-gray-2: #CECECE;
$color-gray-3: #DEDEDE;
$color-gray-4: #D4D4D4;
$color-gray-5: #333333;
$color-gray-6: #EFEFEF;
$color-error: #ff0000;

/* media variables */

$media-xs: 320px;
$media-sm: 768px;
$media-lg: 1366px;
$media-xxl: 1920px;

@mixin media-min($media) {
  @media screen and (min-width: $media) {
    @content;
  }
}


// font-family variables

$font-default: Days, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-GothamPro: GothamPro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// transition variables
$transition: all 0.1s linear;
$transition-long: all 0.3s ease-out;
