doctype html
include ../bemto/bemto.pug
include ../includes/data.pug

html(lang='ru')
  head
    block meta
      include ../includes/meta

    block links
      include ../includes/headlinks

    block title

  body
    .awPageWrapper
      main.page
        .page__main 
          block content

        block extraContent

    include ../includes/modal-forms

    block bottomlinks
      include ../includes/footerlinks
