.advantages {
  padding: 40px 0;
  background: $color-gray-1 url(../img/components/advantages/bg.jpg) 50% 50% no-repeat;
  background-size: cover;

  @include media-min($media-sm) {
    padding: 60px 0;
  }

  @include media-min($media-lg) {
    padding: 120px 0;
  }
}

.advantages__list {
  @include grid(1, 0px, 32px);

  @include media-min($media-sm) {
    @include grid(3, 30px, 32px);
  }

  @include media-min($media-xxl) {
    @include grid(3, 80px, 32px);
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  background-color: $color-gray-5;
  border-radius: 50%;

  @include media-min($media-sm) {
    margin-bottom: 20px;
  }

  @include media-min($media-lg) {
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
  }
}

.advantages__img {
  max-width: 70%;
}

.advantages__text {
  @include body-2-complex;
  text-align: center;
  color: #fff;
}
