.block {
  margin-top: 60px;

  @include media-min($media-sm) {
    margin-top: 80px;
  }

  @include media-min($media-lg) {
    margin-top: 100px;
  }

  @include media-min($media-xxl) {
    margin-top: 120px;
  }
}

.block__title {
  @include head-2-complex();
  margin-bottom: 24px;
  text-align: center;

  @include media-min($media-lg) {
    margin-bottom: 32px;
  }

  @include media-min($media-xxl) {
    margin-bottom: 40px;
  }
}

.block__footer {
  margin-top: 32px;

  @include media-min($media-sm) {
    margin-top: 40px;
  }

  @include media-min($media-lg) {
    margin-top: 60px;
  }

  @include media-min($media-xxl) {
    margin-top: 80px;
  }
}

.block__description {
  @include head-3-complex();
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  & > * + * {
    margin-top: 20px;
  }
}