.button {
  @include body-2-complex();
  display: inline-block;
  padding: 12px 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(180deg, #CCD60A 0%, #B1BA00 100%);
  box-shadow: 0 3.99437px 3.99437px rgba(0, 0, 0, 0.25);
  transition: $transition;

  @include media-min($media-lg) {
    padding: 14px 26px;
  }

  @include media-min($media-xxl) {
    padding: 21px 50px;
  }

  &:hover {
    opacity: 0.7;
  }

  &_big {

    @include media-min($media-xxl) {
      padding: 32px 45px;
    }

  }
}