.callback-block {
  padding: 40px 0;
  background: $color-gray-1 url("../img/components/callback-block/bg.jpg") 50% 50% no-repeat;
  background-size: cover;

  @include media-min($media-lg) {
    padding: 48px 0;
  }
}

.callback-block__title {
  @include head-2-complex;
  margin-bottom: 24px;
  color: #fff;

  @include media-min($media-lg) {
    margin-bottom: 32px;
  }

  @include media-min($media-xxl) {
    margin-bottom: 64px;
  }
}

.callback-block__body {

  @include media-min($media-sm) {
    padding: 20px;
    border: 1px solid #FFFFFF;
  }

  @include media-min($media-lg) {
    padding: 48px;
  }

  @include media-min($media-xxl) {
    padding: 60px 70px;
  }
}