.callback-form__mobile {

  @include media-min($media-lg) {
    display: none;
  }

  .callback-form__section {
    @include grid(1, 0px, 12px);
    margin-bottom: 12px;

    @include media-min($media-sm) {
      @include grid(2, 20px, 20px);
      margin-bottom: 20px;
    }
  }

  .callback-form__footer {
    margin-top: 20px;

    @include media-min($media-sm) {
      display: flex;
      justify-content: space-between;
    }

    .promo-checkbox {
      @include media-min($media-sm) {
        max-width: 400px;
      }
    }

    .button {
      width: 100%;
      margin-top: 20px;

      @include media-min($media-sm) {
        flex-shrink: 0;
        width: auto;
        margin: 0;
        margin-left: 20px;
      }
    }
  }

  .promo-input_textarea {
    height: 176px;
  }
}

.callback-form__desktop {
  display: none;

  @include media-min($media-lg) {
    display: flex;
  }

  .callback-form__section {
    @include grid(2, 30px, 30px);

    @include media-min($media-xxl) {
      @include grid(2, 100px, 30px);
    }

    &_vert {
      @include grid(1, 30px, 30px);
    }
  }

  .callback-form__column {

    &:first-child {
      width: 60%;
      flex-shrink: 0;
    }

    & > * + * {
      margin-top: 30px;
    }
  }

  .callback-form__column + .callback-form__column {
    margin-left: 30px;

    @include media-min($media-xxl) {
      margin-left: 100px;
    }
  }

  .promo-input_textarea {
    height: 256px;
  }

  .callback-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    flex-shrink: 0;
  }
}

.callback-form_white-bg {
  .promo-input {
    background-color: $color-gray-6;
  }

  .promo-checkbox {

    .promo-checkbox__label {
      color: $color-gray-1;

      &:before {
        background-color: $color-gray-6;
      }
    }
  }
}