.contacts {
  @include media-min($media-lg) {
    display: flex;
  }
}

.contacts__body {
  position: relative;
  width: calc(100% + 36px);
  margin-left: -18px;
  padding: 40px 18px;
  padding-top: 88px;
  background-color: $color-brand-1;

  @include media-min($media-sm) {
    width: 100%;
    margin: 0;
    padding: 40px;
    padding-top: 88px;
  }

  @include media-min($media-lg) {
    flex-shrink: 0;
    width: 50%;
    margin-top: 56px;
  }

  @include media-min($media-xxl) {
    padding: 50px 60px;
    margin-top: 70px;
    padding-top: 110px;
  }
}

.contacts__call {
  position: absolute;
  top: -56px;
  width: 112px;
  height: 112px;
  background: #fff url(../img/components/contacts/call.svg) 50% 50% no-repeat;
  border-radius: 50%;

  @include media-min($media-xxl) {
    width: 140px;
    height: 140px;
    top: -70px;
  }
}

.contacts__section + .contacts__section {
  margin-top: 32px;
}

.contacts__title {
  @include head-2-complex;
  margin-bottom: 16px;
  color: #fff;
}

.contacts__subtitle {
  @include body-2-complex;
  font-weight: 700 !important;
  margin-bottom: 20px;
  color: #fff;
}

.contacts__item {
  display: block;
  text-decoration: none;
  color: #fff;
}

.contacts__img {
  width: calc(100% + 36px);
  max-width: none;
  margin-left: -18px;

  @include media-min($media-sm) {
    width: 100%;
    margin: 0;
  }

  @include media-min($media-lg) {
    height: 100%;
    object-fit: cover;
  }
}