.demo-program {
  position: relative;

  @include media-min($media-sm) {
    padding: 50px 0;
  }

  @include media-min($media-xxl) {
    padding: 70px 0;
  }
}

.demo-program__title {
  @include head-2-complex();
  margin-bottom: 24px;

  @include media-min($media-lg) {
    margin-bottom: 32px;
  }

  @include media-min($media-xxl) {
    margin-bottom: 40px;
  }
}

.demo-program__list {
  position: relative;
  z-index: 1;

  @include media-min($media-lg) {
    width: 58%;
  }
}

.demo-program__item {
  padding: 20px;
  border: 1px solid $color-gray-4;
  background-color: #fff;

  @include media-min($media-sm) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  @include media-min($media-lg) {
    padding: 30px 24px;
  }

  @include media-min($media-xxl) {
    padding: 30px;
  }
}

.demo-program__item + .demo-program__item {
  margin-top: 16px;
}

.demo-program__text {
  @include body-1-complex;
  margin-bottom: 12px;

  @include media-min($media-sm) {
    margin: 0;
  }
}

.demo-program__time {
  @include body-3-complex;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: transparent url(../img/components/demo-program/time.svg) 50% 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    @include media-min($media-sm) {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
}

.demo-program__time-item {
  display: flex;
  align-items: center;
}

.demo-program__time-item + .demo-program__time-item {

  &:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 8px;
    background-color: $color-gray-3;
    border-radius: 6px;

    @include media-min($media-sm) {
      margin: 0 20px;
    }
  }
}

.demo-program__img {
  width: 100%;
  margin-top: 40px;

  @include media-min($media-sm) {
    position: absolute;
    top: 0;
    right: 0;
    width: 42%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    z-index: 0;
  }

  @include media-min($media-lg) {
    width: 58%;
  }
}