.demo-slider {
  position: relative;
}

.demo-slider__img {
  width: 100vw;
  height: auto;
  outline: none;

  @include media-min($media-sm) {
    max-width: 670px;
  }

  @include media-min($media-lg) {
    max-width: 794px;
  }

  @include media-min($media-xxl) {
    max-width: 1100px;
  }
}

.demo-slider__control {

  .slider-arrow {
    display: none !important;
    position: absolute;
    top: calc(50% - 24px);

    @include media-min($media-sm) {
      display: inline-block !important;
    }

    @include media-min($media-xxl) {
      top: calc(50% - 37px);
    }

    &_prev {
      left: calc(50% - 345px + 11px);

      @include media-min($media-lg) {
        left: calc(50% - 397px);
      }

      @include media-min($media-xxl) {
        left: calc(50% - 550px);
      }
    }

    &_next {
      right: calc(50% - 345px + 11px);

      @include media-min($media-lg) {
        right: calc(50% - 397px);
      }

      @include media-min($media-xxl) {
        right: calc(50% - 550px);
      }
    }
  }

  .slider-dots {

    @include media-min($media-lg) {
      display: none;
    }

  }
}