.img-info {
  @include media-min($media-lg) {
    display: flex;
  }
}

.img-info__img-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin-bottom: 32px;

  @include media-min($media-sm) {
    padding-bottom: 75%;
  }

  @include media-min($media-lg) {
    flex-shrink: 0;
    width: 42%;
    margin-bottom: 0;
    margin-right: 60px;
    height: auto;
    padding: 0;
  }

  @include media-min($media-xxl) {
    margin-right: 100px;
  }
}
.img-info__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-info__body {
  padding: 40px 0;

  @include media-min($media-xxl) {
    padding: 90px 0;
  }
}

.img-info__title {
  @include head-2-complex;
  margin-bottom: 24px;

  @include media-min($media-lg) {
    margin-bottom: 36px;
  }

  @include media-min($media-xxl) {
    margin-bottom: 60px;
  }
}

.img-info__list {
  @include grid(1, 0px, 24px);
  counter-reset:  item;

  @include media-min($media-sm) {
    @include grid(1, 0px, 30px);
  }

  @include media-min($media-lg) {
    @include grid(1, 0px, 40px);
  }

  @include media-min($media-xxl) {
    @include grid(1, 0px, 60px);
  }
}

.img-info__item {
  @include body-3-complex;
  display: flex;
  align-items: center;

  @include media-min($media-xxl) {
    max-width: 600px;
  }

  &:before {
    @include head-4-complex;
    content: counter(item);
    counter-increment: item;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: #F9FAEB;
    border-radius: 50%;

    @include media-min($media-sm) {
      width: 80px;
      height: 80px;
      margin-right: 23px;
    }
  }
}