.main-banner {
  padding: 40px 0;
  background: $color-gray-1 url("../img/components/main-banner/main-banner.jpg") 50% 50% no-repeat;
  background-size: cover;
  @include media-min($media-sm) {
    padding: 60px 0;
  }

  @include media-min($media-xxl) {
    padding: 90px 0;
  }
}

.main-banner__title {
  @include head-1-complex();
  max-width: 1315px;
  color: #fff;
}

.main-banner__content {
  margin-top: 16px;
  max-width: 975px;
  color: #fff;

  @include media-min($media-lg) {
    margin-top: 24px;
  }

  & > * + * {
    margin-top: 15px;
  }
}

.main-banner__footer {
  margin-top: 24px;

  @include media-min($media-lg) {
    margin-top: 30px;
  }

  @include media-min($media-xxl) {
    margin-top: 60px;
  }
}