.map-demo__img-container {
  width: 100%;
}

.map-demo__img {
  width: 100%;
}

.map-demo__body {
  margin-top: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include media-min($media-lg) {
    margin-top: 60px;
  }
}

.map-demo__section + .map-demo__section {
  margin-top: 40px;

  @include media-min($media-lg) {
    margin-top: 60px;
  }
}

.map-demo__title {
  @include head-4-complex;
  margin-bottom: 20px;
  text-align: center;

  @include media-min($media-lg) {
    margin-bottom: 28px;
  }
}

.map-demo__item {
  padding: 20px;
  border: 1px solid $color-gray-4;

  @include media-min($media-sm) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  @include media-min($media-lg) {
    padding: 30px 24px;
  }

  @include media-min($media-xxl) {
    padding: 30px;
  }
}

.map-demo__item + .map-demo__item {
  margin-top: 16px;
}

.map-demo__info {
  display: flex;
  flex-direction: column;

  @include media-min($media-lg) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.map-demo__location {
  @include body-1-complex();
  display: inline-flex;
  margin-bottom: 8px;

  @include media-min($media-sm) {
    align-items: center;
  }

  @include media-min($media-lg) {
    margin: 0;
  }

  &:before {
    content: '';
    flex-shrink: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background: transparent url(../img/components/map-demo/location.svg);
    background-size: contain;

    @include media-min($media-sm) {
    width: 24px;
    height: 24px;
    }

    @include media-min($media-xxl) {
    width: 30px;
    height: 30px;
    }
  }
}

.map-demo__date {
  display: inline-flex;
  flex-shrink: 0;

  @include media-min($media-sm) {
    align-items: center;
  }

  @include media-min($media-lg) {
    margin-left: 20px;
  }

  &:before {
    content: '';
    flex-shrink: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background: transparent url(../img/components/map-demo/date.svg);
    background-size: contain;

    @include media-min($media-sm) {
    width: 24px;
    height: 24px;
    }

    @include media-min($media-xxl) {
    width: 30px;
    height: 30px;
    }
  }

}

.map-demo__button {
  flex-shrink: 0;
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  border: 1px solid $color-gray-3;
  text-align: center;
  cursor: pointer;

  @include media-min($media-sm) {
    width: auto;
    padding: 16px 10px;
    margin: 0;
    margin-left: 34px;
  }

  @include media-min($media-lg) {
    margin-left: 40px;
  }

  &:hover {
    opacity: 0.6;
    transition: $transition;
  }
}