.modal-demo {
  width: 100vw;
  height: 100%;
  padding: 60px 18px;

  @include media-min($media-lg) {
    width: 90%;
    height: auto;
    padding: 48px;
  }

  @include media-min($media-xxl) {
    padding: 48px 70px;
  }

  &_min {
    max-width: 720px;
  }
}

.modal-demo__title {
  @include head-2-complex;
  margin-bottom: 24px;
  
  &_center {
    text-align: center;
  }
}

.modal-demo__content {
  text-align: center;
}

.modal-demo__footer {
  margin-top: 40px;
  text-align: center;
}