.photo-list__list {
  //@include grid(1, 0px, 16px);

  @include media-min($media-sm) {
    @include grid(2, 30px, 30px);
  }

  @include media-min($media-xxl) {
    @include grid(2, 40px, 40px);
  }
}

.photo-list__img {
  max-width: 100%;
  margin-bottom: 16px;

  @include media-min($media-sm) {
    bottom: 0;
  }
}

.photo-list__description {
  @include head-3-complex;
  margin-top: 40px;
  text-align: center;

  @include media-min($media-lg) {
    margin-top: 60px;
  }
}