.promo-checkbox {
  @include checkbox-default();
  display: flex;
  align-items: center;
  position: relative;

  &.error {

    .promo-checkbox__label {
      color: $color-error;
    }

    .promo-checkbox__label:before {
      border-color: $color-error;
    }
  }

  .error {
    display: none !important;

    & ~ .promo-checkbox__label:before {
      border-color: $color-error;
    }
  }
}

.promo-checkbox__input {
  &:checked + .promo-checkbox__label {
    &:after {
      transform: scale(1);
    }

    &:before {
    }
  }
  &:disabled + .promo-checkbox__label {
    opacity: 0.2;
  }
}

.promo-checkbox__label {
  @include body-3-mobile();
  @include icon-right();
  padding-left: 35px;
  font-weight: 700;
  color: #fff;

  &:before {
    top: 16px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transition: $transition;
  }

  &:after {
    top: 11px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: $color-brand-1;
    background-size: contain;
    transform: scale(0);
    transition: $transition;
  }

  & > a {
    color: $color-brand-1;
  }
}