.promo-input {
  width: 100%;
  padding: 16px 16px;
  font-family: $font-default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border: 0;

  @include media-min($media-sm) {
    padding: 20px 25px;
  }

  &::placeholder {
    color: $color-gray-1;
  }
}