extends templates/main-template
include components/main-banner
include components/photo-list
include components/map-demo
include components/advantages
include components/demo-program
include components/img-info
include components/demo-slider
include components/contacts
include components/callback-form

block title
	title Демопоказ

block content
	+main-banner()
	+b.SECTION.block
		.global-wrapper
			+e.head
				+e.title Оцените новую разработку в мире культиваторов — Антарес КМП-14 с выравнивателем.
			+e.body
				+photo-list()

	+b.SECTION.block
		.global-wrapper
			+e.head
				+e.title Карта демопоказов
			+e.body
				+map-demo()

	+b.SECTION.block
		+advantages()

	+b.SECTION.block
		+demo-program()

	+b.SECTION.block
		.global-wrapper
			+img-info()

	+b.SECTION.block
		.global-wrapper
			+e.head
				+e.title Фото с предыдущих демонстраций
		+e.body
			+demo-slider()
		.global-wrapper
			+e.footer
				+e.description
					p Это время пройдет для вас с максимальной пользой!
					p Факты и цифры расскажут о культиваторе Антарес КМП-14 больше, чем просто слова!

	+b.SECTION.block
		+b.callback-block
			.global-wrapper
				+e.title Записаться на участие в своем городе
				+e.body
					+callback-form()
	+b.SECTION.block
		.global-wrapper
			+contacts()

